@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@keyframes marquee-reverse {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}

body{
  background-color: #EFEEEE !important; 
  color: #0A0A0A;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

a {
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #E10600; /* rouge sur hover */
}